In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq
import urllib.request

In [3]:
EPL_assists_url = "https://www.foxsports.com/soccer/stats?competition=1&season=20180&category=STANDARD&pos=0&team=0&isOpp=0&sort=4&sortOrder=0&page=2"

In [4]:
uClient = uReq(EPL_assists_url)
EPL_assists_url_page_html = uClient.read()
uClient.close()

In [5]:
EPL_assists_page_soup = soup(EPL_assists_url_page_html,"html.parser")

In [6]:
assist_EPL_playerName = EPL_assists_page_soup.findAll("a",{"class":"wisbb_fullPlayer"})
print(assist_EPL_playerName[0].span.text)
#a,b = assist_EPL_playerName[14].span.text.split(',')

Deulofeu, Gerard

In [7]:
assist_EPL_Name = []
for i in range(50):
    get_assist_playerName = assist_EPL_playerName[i].span.text.split(', ')
    #print(T_get_assist_playerName)
    #a,b = T_get_assist_playerName.split(',')
    #if len(b) == 0
    if len(get_assist_playerName) == 2:
        a = get_assist_playerName[1]
        b = get_assist_playerName[0]
        c = a+' '+b
    else:
        b = get_assist_playerName[0]
        a = ''
        c = b
    assist_EPL_Name.append(c)
    
print(assist_EPL_Name)

['Gerard Deulofeu', 'Abdoulaye Doucoure', 'Will Hughes', 'Ricardo Pereira', 'David Brooks', 'Felipe Anderson', 'Matt Doherty', 'Lucas Digne', 'Luciano Vietto', 'Steve Mounie', 'Joshua King', 'Junior Stanislas', 'Nacho Monreal', 'Cenk Tosun', 'Ben Chilwell', 'Riyad Mahrez', 'Fernandinho', 'Olexandr Zinchenko', 'Ander Herrera', 'Luke Shaw', 'Alexis Sanchez', 'Isaac Hayden', 'Nathan Redmond', 'Danny Rose', 'Kieran Trippier', 'Kyle Walker-Peters', 'Michail Antonio', 'Marko Arnautovic', 'Mark Noble', 'Andros Townsend', 'Wilfried Zaha', 'Matt Targett', 'Sean Morrison', 'Bernard', 'Youri Tielemans', 'Ashley Barnes', 'Jack Cork', 'Pascal Gross', 'Simon Francis', 'Mesut Ozil', 'David Luiz', 'Seamus Coleman', 'Theo Walcott', 'Marc Albrighton', 'Harvey Barnes', 'Kelechi Iheanacho', 'Gabriel Jesus', 'Ilkay Gundogan', 'Jesse Lingard', 'Anthony Martial']

In [101]:
EPL_assistsPlusGoal_made = EPL_assists_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(EPL_assistsPlusGoal_made[1].contents[9].text)

7

In [103]:
EPL_assistsPlusGoal_made_list = []
for i in range(1,51):
    EPL_assists = EPL_assistsPlusGoal_made[i].contents[9].text
    EPL_assistsPlusGoal_made_list.append(EPL_assists)
    
print(EPL_assistsPlusGoal_made_list)

['7', '5', '2', '2', '6', '8', '3', '3', '1', '2', '11', '1', '1', '2', '0', '6', '1', '0', '2', '1', '1', '1', '3', '0', '1', '0', '4', '7', '3', '4', '8', '0', '0', '1', '1', '9', '1', '2', '0', '4', '2', '1', '3', '2', '0', '1', '6', '5', '4', '10']

In [8]:
EPL_assists_made = EPL_assists_page_soup.findAll('td',{"class":"wisbb_priorityColumn wisbb_selected"})
print(len(EPL_assists_made))

50

In [9]:
EPL_assists_made_list = []
for i in range(50):
    EPL_assists = EPL_assists_made[i].text
    EPL_assists_made_list.append(EPL_assists)
    
print(EPL_assists_made_list)

['4', '4', '4', '4', '4', '4', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2']

In [10]:
EPL_assist_club = EPL_assists_page_soup.findAll('span',{"class":"wisbb_tableAbbrevLink"})
print(EPL_assist_club[8].text)
print(EPL_assist_club[1].text)
print("asd")

 FUL

 WAT

asd

In [11]:
EPL_assist_club_list =[]
for i in range(50):
    get_club_name = EPL_assist_club[i].text
    #print( get_club_name)
    get_club_name = get_club_name[1:4]
    EPL_assist_club_list.append(get_club_name)
    
    #EPL_assist_club_list.append(get_club_prefix)
    
print(EPL_assist_club_list)

['WAT', 'WAT', 'WAT', 'LEI', 'BOU', 'WHU', 'WLV', 'EVE', 'FUL', 'HUD', 'BOU', 'BOU', 'ARS', 'EVE', 'LEI', 'MCI', 'MCI', 'MCI', 'MUN', 'MUN', 'MUN', 'NEW', 'SOU', 'TOT', 'TOT', 'TOT', 'WHU', 'WHU', 'WHU', 'CRY', 'CRY', 'SOU', 'CC\n', 'EVE', 'LEI', 'BUR', 'BUR', 'BHA', 'BOU', 'ARS', 'CHE', 'EVE', 'EVE', 'LEI', 'LEI', 'LEI', 'MCI', 'MCI', 'MUN', 'MUN']

In [12]:
PlayerID_EPL_assist_list = []
for i in range(50):
    make_id = assist_EPL_Name[i][0:4] + EPL_assist_club_list[i]
    PlayerID_EPL_assist_list.append(make_id)
    
print(PlayerID_EPL_assist_list)

['GeraWAT', 'AbdoWAT', 'WillWAT', 'RicaLEI', 'DaviBOU', 'FeliWHU', 'MattWLV', 'LucaEVE', 'LuciFUL', 'StevHUD', 'JoshBOU', 'JuniBOU', 'NachARS', 'CenkEVE', 'Ben LEI', 'RiyaMCI', 'FernMCI', 'OlexMCI', 'AndeMUN', 'LukeMUN', 'AlexMUN', 'IsaaNEW', 'NathSOU', 'DannTOT', 'KierTOT', 'KyleTOT', 'MichWHU', 'MarkWHU', 'MarkWHU', 'AndrCRY', 'WilfCRY', 'MattSOU', 'SeanCC\n', 'BernEVE', 'YourLEI', 'AshlBUR', 'JackBUR', 'PascBHA', 'SimoBOU', 'MesuARS', 'DaviCHE', 'SeamEVE', 'TheoEVE', 'MarcLEI', 'HarvLEI', 'KeleLEI', 'GabrMCI', 'IlkaMCI', 'JessMUN', 'AnthMUN']

In [13]:
EPL_assist_data = list(zip(assist_EPL_Name,EPL_assist_club_list,EPL_assists_made_list,PlayerID_EPL_assist_list))
EPL_assist_df = pd.DataFrame(data = EPL_assist_data,columns = ['Player Name','Club','Assists','PlayerID'])
EPL_assist_df.head()

          Player Name Club Assists PlayerID
0     Gerard Deulofeu  WAT       4  GeraWAT
1  Abdoulaye Doucoure  WAT       4  AbdoWAT
2         Will Hughes  WAT       4  WillWAT
3     Ricardo Pereira  LEI       4  RicaLEI
4        David Brooks  BOU       4  DaviBOU

In [105]:
EPL_assist_df['Goals'] = EPL_assistsPlusGoal_made_list

In [106]:
EPL_assist_df

           Player Name  Club Assists  PlayerID Minutes Played SOG Shots Goals
0      Gerard Deulofeu   WAT       4   GeraWAT           1590  15    43     7
1   Abdoulaye Doucoure   WAT       4   AbdoWAT           1712  15    42     5
2          Will Hughes   WAT       4   WillWAT           1213   6    18     2
3      Ricardo Pereira   LEI       4   RicaLEI           1890  10    25     2
4         David Brooks   BOU       4   DaviBOU           1365  20    38     6
5      Felipe Anderson   WHU       4   FeliWHU           1870  19    45     8
6         Matt Doherty   WLV       4   MattWLV           1881  16    35     3
7          Lucas Digne   EVE       4   LucaEVE           1900   8    27     3
8       Luciano Vietto   FUL       4   LuciFUL            488   7    22     1
9         Steve Mounie   HUD       3   StevHUD           1102  20    53     2
10         Joshua King   BOU       3   JoshBOU           1693  22    55    11
11    Junior Stanislas   BOU       3   JuniBOU            895   8    29     1
12       Nacho Monreal   ARS       3   NachARS            781   4     5     1
13          Cenk Tosun   EVE       3   CenkEVE            443  14    31     2
14        Ben Chilwell   LEI       3   Ben LEI           1890   8    18     0
15        Riyad Mahrez   MCI       3   RiyaMCI            747  19    43     6
16         Fernandinho   MCI       3   FernMCI           1394   7    27     1
17  Olexandr Zinchenko   MCI       3   OlexMCI            594   1     4     0
18       Ander Herrera   MUN       3   AndeMUN           1193   8    18     2
19           Luke Shaw   MUN       3   LukeMUN           1602   8    22     1
20      Alexis Sanchez   MUN       3   AlexMUN            430   9    19     1
21        Isaac Hayden   NEW       3   IsaaNEW           1245   4    16     1
22      Nathan Redmond   SOU       3   NathSOU           1882  14    54     3
23          Danny Rose   TOT       3   DannTOT           1005   1    12     0
24     Kieran Trippier   TOT       3   KierTOT           1302   3     7     1
25  Kyle Walker-Peters   TOT       3   KyleTOT            194   0     0     0
26     Michail Antonio   WHU       3   MichWHU           1348  15    47     4
27    Marko Arnautovic   WHU       3   MarkWHU            940  25    47     7
28          Mark Noble   WHU       3   MarkWHU           1242   6    13     3
29     Andros Townsend   CRY       3   AndrCRY           1865  14    54     4
30       Wilfried Zaha   CRY       3   WilfCRY           1693  22    63     8
31        Matt Targett   SOU       3   MattSOU           1025   2     9     0
32       Sean Morrison  CC\n       3  SeanCC\n           1600   6    24     0
33             Bernard   EVE       3   BernEVE           1416   1    15     1
34     Youri Tielemans   LEI       3   YourLEI            567   6    18     1
35       Ashley Barnes   BUR       2   AshlBUR           1639  24    53     9
36           Jack Cork   BUR       2   JackBUR           1963   2    18     1
37        Pascal Gross   BHA       2   PascBHA           1153   8    19     2
38       Simon Francis   BOU       2   SimoBOU            765   1     3     0
39          Mesut Ozil   ARS       2   MesuARS            760   5     8     4
40          David Luiz   CHE       2   DaviCHE           1800   6    27     2
41      Seamus Coleman   EVE       2   SeamEVE           1663   4    10     1
42        Theo Walcott   EVE       2   TheoEVE           1198  16    35     3
43     Marc Albrighton   LEI       2   MarcLEI           1051   6    16     2
44       Harvey Barnes   LEI       2   HarvLEI            776   7    33     0
45   Kelechi Iheanacho   LEI       2   KeleLEI            374   5    14     1
46       Gabriel Jesus   MCI       2   GabrMCI            589  21    36     6
47      Ilkay Gundogan   MCI       2   IlkaMCI           1242  10    33     5
48       Jesse Lingard   MUN       2   JessMUN           1050  14    29     4
49     Anthony Martial   MUN       2   AnthMUN           1040  20    33    10

In [14]:
Fox_goal_URL = 'https://www.foxsports.com/soccer/stats?competition=1&season=20180&category=STANDARD&pos=0&team=0&isOpp=0&sort=3&sortOrder=0&page=2'

In [15]:
uClient = uReq(Fox_goal_URL)
page_html = uClient.read()
uClient.close()

In [16]:
Fox_goal_page_soup = soup(page_html,"html.parser")

In [17]:
Fox_goal_Name_EPL = Fox_goal_page_soup.findAll('a',{"class":"wisbb_fullPlayer"})
print(len(Fox_goal_Name_EPL))

50

In [18]:
Fox_goal_name = []
for i in range(50):
    get_Goal_playerName_Fox = Fox_goal_Name_EPL[i].span.text.split(', ')
    #print(T_get_assist_playerName)
    #a,b = T_get_assist_playerName.split(',')
    #if len(b) == 0
    if len(get_Goal_playerName_Fox) == 2:
        a =get_Goal_playerName_Fox[1]
        b = get_Goal_playerName_Fox[0]
        c = a+' '+b
    else:
        b = get_Goal_playerName_Fox[0]
        a = ''
        c = b
    Fox_goal_name.append(c)

print(Fox_goal_name)

['Andre Schurrle', 'Shane Duffy', 'Alvaro Morata', 'Ilkay Gundogan', 'Dele Alli', 'Christian Eriksen', 'Abdoulaye Doucoure', 'Andre Gray', 'Victor Camarasa', 'Sol Bamba', 'Callum Paterson', 'Mesut Ozil', 'Aaron Ramsey', 'Granit Xhaka', 'Demarai Gray', 'James Milner', 'Jesse Lingard', 'Pierre Hojbjerg', 'Erik Lamela', 'Michail Antonio', 'Ruben Loftus-Cheek', 'Jeffrey Schlupp', 'Andros Townsend', 'Bobby Reid', 'Johann Gudmundsson', 'Dwight McNeil', 'James Tarkowski', 'Sam Vokes', 'Mathias Jorgensen', 'Nathan Ake', 'Alex Iwobi', 'Laurent Koscielny', 'Aboubakar Kamara', 'Ross Barkley', "N'Golo Kante", 'Willian', 'Theo Walcott', 'Harry Maguire', 'Wes Morgan', 'Virgil van Dijk', 'Ciaran Clark', 'Nathan Redmond', 'Mark Noble', 'Willy Boly', 'Ivan Cavaleiro', 'Ruben Neves', 'Craig Cathcart', 'Jose Holebas', 'Josh Murphy', 'Stuart Armstrong']

In [19]:
Fox_club_name = Fox_goal_page_soup.findAll('td',{"class":"wisbb_priorityColumn wisbb_selected"})
Fox_club_name[0].text

'6'

In [20]:
Fox_GoalScored_EPL =[]
for i in range(50):
    get_goals = Fox_club_name[i].text
    Fox_GoalScored_EPL.append(get_goals)
    

print(Fox_GoalScored_EPL)

['6', '5', '5', '5', '5', '5', '5', '5', '5', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3']

In [116]:
Fox_GoalScoredPlusAssist_EPL = Fox_goal_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(Fox_GoalScoredPlusAssist_EPL[0].contents[11].text)

A

In [117]:
Fox_GoalScoredPlusAssist_EPL_List = []
for i in range(1,51):
    EPL_assists = Fox_GoalScoredPlusAssist_EPL[i].contents[11].text
    Fox_GoalScoredPlusAssist_EPL_List.append(EPL_assists)
    
print(Fox_GoalScoredPlusAssist_EPL_List)

['0', '1', '0', '2', '1', '10', '4', '2', '2', '1', '1', '2', '6', '1', '1', '4', '2', '1', '2', '3', '0', '1', '3', '2', '5', '4', '1', '0', '1', '0', '4', '0', '0', '4', '4', '6', '2', '0', '0', '1', '0', '3', '3', '0', '1', '2', '0', '6', '1', '1']

In [21]:
Fox_Club_goal_name = Fox_goal_page_soup.findAll('span',{"class":"wisbb_tableAbbrevLink"})
Fox_Club_goal_name[0].text[1:4]

'FUL'

In [22]:
Fox_Club_goal_name_list = []
for i in range(50):
    get_name = Fox_Club_goal_name[i].text[1:4]
    Fox_Club_goal_name_list.append(get_name)


print(Fox_Club_goal_name_list)

['FUL', 'BHA', 'CHE', 'MCI', 'TOT', 'TOT', 'WAT', 'WAT', 'CC\n', 'CC\n', 'CC\n', 'ARS', 'ARS', 'ARS', 'LEI', 'LIV', 'MUN', 'SOU', 'TOT', 'WHU', 'CHE', 'CRY', 'CRY', 'CC\n', 'BUR', 'BUR', 'BUR', 'BUR', 'HUD', 'BOU', 'ARS', 'ARS', 'FUL', 'CHE', 'CHE', 'CHE', 'EVE', 'LEI', 'LEI', 'LIV', 'NEW', 'SOU', 'WHU', 'WLV', 'WLV', 'WLV', 'WAT', 'WAT', 'CC\n', 'SOU']

In [23]:
Fox_goal_PID = []
for i in range(50):
    c = Fox_goal_name[i][0:4]+Fox_Club_goal_name_list[i]
    Fox_goal_PID.append(c)


    
print(Fox_goal_PID)

['AndrFUL', 'ShanBHA', 'AlvaCHE', 'IlkaMCI', 'DeleTOT', 'ChriTOT', 'AbdoWAT', 'AndrWAT', 'VictCC\n', 'Sol CC\n', 'CallCC\n', 'MesuARS', 'AaroARS', 'GranARS', 'DemaLEI', 'JameLIV', 'JessMUN', 'PierSOU', 'ErikTOT', 'MichWHU', 'RubeCHE', 'JeffCRY', 'AndrCRY', 'BobbCC\n', 'JohaBUR', 'DwigBUR', 'JameBUR', 'Sam BUR', 'MathHUD', 'NathBOU', 'AlexARS', 'LaurARS', 'AbouFUL', 'RossCHE', "N'GoCHE", 'WillCHE', 'TheoEVE', 'HarrLEI', 'Wes LEI', 'VirgLIV', 'CiarNEW', 'NathSOU', 'MarkWHU', 'WillWLV', 'IvanWLV', 'RubeWLV', 'CraiWAT', 'JoseWAT', 'JoshCC\n', 'StuaSOU']

In [25]:
Fox_Goal_data = list(zip(Fox_goal_name,Fox_Club_goal_name_list,Fox_GoalScored_EPL,Fox_goal_PID))
Fox_Goal_data_df = pd.DataFrame(data = Fox_Goal_data,columns = ['Player Name','Club','Goals','PlayerID'])
Fox_Goal_data_df.head(10)
Fox_Goal_data_df_copy = Fox_Goal_data_df
Fox_Goal_data_df_copy.head()

      Player Name Club Goals PlayerID
0  Andre Schurrle  FUL     6  AndrFUL
1     Shane Duffy  BHA     5  ShanBHA
2   Alvaro Morata  CHE     5  AlvaCHE
3  Ilkay Gundogan  MCI     5  IlkaMCI
4       Dele Alli  TOT     5  DeleTOT

In [121]:
EPL_assist_df.head(10)
EPL_assist_df_copy = EPL_assist_df
EPL_assist_df_copy.head()

          Player Name Club Assists PlayerID Minutes Played SOG Shots Goals
0     Gerard Deulofeu  WAT       4  GeraWAT           1590  15    43     7
1  Abdoulaye Doucoure  WAT       4  AbdoWAT           1712  15    42     5
2         Will Hughes  WAT       4  WillWAT           1213   6    18     2
3     Ricardo Pereira  LEI       4  RicaLEI           1890  10    25     2
4        David Brooks  BOU       4  DaviBOU           1365  20    38     6

In [122]:
minutes_played_goal_fox_epl = Fox_goal_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(minutes_played_goal_fox_epl[1].contents[7].text)

961

In [123]:
minutes_played_goal_fox_epl_list = []
for i in range(1,51):
    get_min_played = minutes_played_goal_fox_epl[i].contents[7].text
    minutes_played_goal_fox_epl_list.append(get_min_played)
    
print(minutes_played_goal_fox_epl_list)

['961', '1558', '501', '1242', '1009', '1601', '1712', '376', '1453', '1755', '1570', '760', '703', '1409', '1298', '1030', '1050', '1517', '732', '1348', '448', '954', '1865', '761', '986', '1074', '1800', '432', '1440', '2062', '1276', '959', '537', '829', '1870', '1303', '1198', '1339', '1254', '2070', '372', '1882', '1242', '1818', '611', '1680', '1803', '1452', '1024', '1092']

In [124]:
Fox_Goal_data_df['Minutes Played'] = minutes_played_goal_fox_epl_list
Fox_Goal_data_df.head()

      Player Name Club Goals PlayerID Minutes Played SOG Shots Assists
0  Andre Schurrle  FUL     6  AndrFUL            961  19    53       0
1     Shane Duffy  BHA     5  ShanBHA           1558  14    30       1
2   Alvaro Morata  CHE     5  AlvaCHE            501  16    35       0
3  Ilkay Gundogan  MCI     5  IlkaMCI           1242  10    33       2
4       Dele Alli  TOT     5  DeleTOT           1009  15    29       1

In [125]:
print(minutes_played_goal_fox_epl[1].contents[15].text)

53

In [126]:
total_shots_fox_EPL_list = []
for i in range(1,51):
    get_shots = minutes_played_goal_fox_epl[i].contents[15].text
    total_shots_fox_EPL_list.append(get_shots)
    
print(total_shots_fox_EPL_list)

['53', '30', '35', '33', '29', '58', '42', '25', '37', '22', '39', '8', '29', '24', '43', '21', '29', '44', '30', '47', '13', '26', '54', '22', '29', '26', '17', '21', '9', '17', '26', '5', '20', '36', '24', '57', '35', '26', '10', '26', '7', '54', '13', '15', '12', '62', '10', '16', '40', '28']

In [127]:
total_shots_target_fox_EPL_list = []
for i in range(1,51):
    get_shots_target = minutes_played_goal_fox_epl[i].contents[13].text
    total_shots_target_fox_EPL_list.append(get_shots_target)

    
print(total_shots_target_fox_EPL_list)

['19', '14', '16', '10', '15', '25', '15', '14', '11', '7', '8', '5', '13', '10', '16', '6', '14', '19', '12', '15', '5', '10', '14', '7', '8', '8', '9', '7', '4', '6', '11', '4', '9', '6', '4', '21', '16', '11', '5', '7', '3', '14', '6', '5', '4', '13', '4', '6', '13', '13']

In [128]:
Fox_Goal_data_df['SOG'] = total_shots_target_fox_EPL_list

In [129]:
Fox_Goal_data_df['Shots'] = total_shots_fox_EPL_list

In [130]:
Fox_Goal_data_df['Assists'] = Fox_GoalScoredPlusAssist_EPL_List

In [131]:
Fox_Goal_data_df.head()

      Player Name Club Goals PlayerID Minutes Played SOG Shots Assists
0  Andre Schurrle  FUL     6  AndrFUL            961  19    53       0
1     Shane Duffy  BHA     5  ShanBHA           1558  14    30       1
2   Alvaro Morata  CHE     5  AlvaCHE            501  16    35       0
3  Ilkay Gundogan  MCI     5  IlkaMCI           1242  10    33       2
4       Dele Alli  TOT     5  DeleTOT           1009  15    29       1

In [36]:
Minutes_played_SOG_S_Fox = EPL_assists_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(Minutes_played_SOG_S_Fox[1].contents[7].text)

1590

In [132]:
MP_Fox_EPL_assists_list = []
for i in range(1,51):
    get_MP = Minutes_played_SOG_S_Fox[i].contents[7].text
    MP_Fox_EPL_assists_list.append(get_MP)

print(MP_Fox_EPL_assists_list)

['1590', '1712', '1213', '1890', '1365', '1870', '1881', '1900', '488', '1102', '1693', '895', '781', '443', '1890', '747', '1394', '594', '1193', '1602', '430', '1245', '1882', '1005', '1302', '194', '1348', '940', '1242', '1865', '1693', '1025', '1600', '1416', '567', '1639', '1963', '1153', '765', '760', '1800', '1663', '1198', '1051', '776', '374', '589', '1242', '1050', '1040']

In [133]:
SOG_Fox_EPL_assists_list = []
for i in range(1,51):
    get_SOG = Minutes_played_SOG_S_Fox[i].contents[13].text
    SOG_Fox_EPL_assists_list.append(get_SOG)
    
print(SOG_Fox_EPL_assists_list)

['15', '15', '6', '10', '20', '19', '16', '8', '7', '20', '22', '8', '4', '14', '8', '19', '7', '1', '8', '8', '9', '4', '14', '1', '3', '0', '15', '25', '6', '14', '22', '2', '6', '1', '6', '24', '2', '8', '1', '5', '6', '4', '16', '6', '7', '5', '21', '10', '14', '20']

In [134]:
S_Fox_EPL_assists_list = []
for i in range(1,51):
    get_S = Minutes_played_SOG_S_Fox[i].contents[15].text
    S_Fox_EPL_assists_list.append(get_S)
    
print(S_Fox_EPL_assists_list)

['43', '42', '18', '25', '38', '45', '35', '27', '22', '53', '55', '29', '5', '31', '18', '43', '27', '4', '18', '22', '19', '16', '54', '12', '7', '0', '47', '47', '13', '54', '63', '9', '24', '15', '18', '53', '18', '19', '3', '8', '27', '10', '35', '16', '33', '14', '36', '33', '29', '33']

In [135]:
EPL_assist_df['Minutes Played'] = MP_Fox_EPL_assists_list

In [136]:
EPL_assist_df['SOG'] = SOG_Fox_EPL_assists_list

In [137]:
EPL_assist_df['Shots'] = S_Fox_EPL_assists_list

In [138]:
EPL_assist_df.head()

          Player Name Club Assists PlayerID Minutes Played SOG Shots Goals
0     Gerard Deulofeu  WAT       4  GeraWAT           1590  15    43     7
1  Abdoulaye Doucoure  WAT       4  AbdoWAT           1712  15    42     5
2         Will Hughes  WAT       4  WillWAT           1213   6    18     2
3     Ricardo Pereira  LEI       4  RicaLEI           1890  10    25     2
4        David Brooks  BOU       4  DaviBOU           1365  20    38     6

In [139]:
Fox_Goal_data_df_copy = Fox_Goal_data_df
Fox_Goal_data_df_copy.head(10)

          Player Name  Club Goals  PlayerID Minutes Played SOG Shots Assists
0      Andre Schurrle   FUL     6   AndrFUL            961  19    53       0
1         Shane Duffy   BHA     5   ShanBHA           1558  14    30       1
2       Alvaro Morata   CHE     5   AlvaCHE            501  16    35       0
3      Ilkay Gundogan   MCI     5   IlkaMCI           1242  10    33       2
4           Dele Alli   TOT     5   DeleTOT           1009  15    29       1
5   Christian Eriksen   TOT     5   ChriTOT           1601  25    58      10
6  Abdoulaye Doucoure   WAT     5   AbdoWAT           1712  15    42       4
7          Andre Gray   WAT     5   AndrWAT            376  14    25       2
8     Victor Camarasa  CC\n     5  VictCC\n           1453  11    37       2
9           Sol Bamba  CC\n     4  Sol CC\n           1755   7    22       1

In [140]:
EPL_assist_df_copy = EPL_assist_df
EPL_assist_df_copy.head(10)

          Player Name Club Assists PlayerID Minutes Played SOG Shots Goals
0     Gerard Deulofeu  WAT       4  GeraWAT           1590  15    43     7
1  Abdoulaye Doucoure  WAT       4  AbdoWAT           1712  15    42     5
2         Will Hughes  WAT       4  WillWAT           1213   6    18     2
3     Ricardo Pereira  LEI       4  RicaLEI           1890  10    25     2
4        David Brooks  BOU       4  DaviBOU           1365  20    38     6
5     Felipe Anderson  WHU       4  FeliWHU           1870  19    45     8
6        Matt Doherty  WLV       4  MattWLV           1881  16    35     3
7         Lucas Digne  EVE       4  LucaEVE           1900   8    27     3
8      Luciano Vietto  FUL       4  LuciFUL            488   7    22     1
9        Steve Mounie  HUD       3  StevHUD           1102  20    53     2

In [142]:
appendStuff = EPL_assist_df_copy.append(Fox_Goal_data_df_copy,ignore_index = True)

C:\Users\91997\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [144]:
appendStuff.head()

  Assists Club Goals Minutes Played         Player Name PlayerID SOG Shots
0       4  WAT     7           1590     Gerard Deulofeu  GeraWAT  15    43
1       4  WAT     5           1712  Abdoulaye Doucoure  AbdoWAT  15    42
2       4  WAT     2           1213         Will Hughes  WillWAT   6    18
3       4  LEI     2           1890     Ricardo Pereira  RicaLEI  10    25
4       4  BOU     6           1365        David Brooks  DaviBOU  20    38

In [150]:
appendStuff = appendStuff[['Player Name','PlayerID','Club','Goals','Assists','Minutes Played','SOG','Shots']]
appendStuff.shape

(100, 8)

In [149]:
appendStuff.to_csv('EPL_data_new2.csv')