In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq
import urllib.request

In [2]:
Laliga_assists_url = "https://www.foxsports.com/soccer/stats?competition=2&season=20180&category=STANDARD&pos=0&team=0&isOpp=0&sort=4&sortOrder=0&page=2"

In [3]:
uClient = uReq(Laliga_assists_url)
Laliga_assists_url_page_html = uClient.read()
uClient.close()

In [4]:
Laliga_assists_page_soup = soup(Laliga_assists_url_page_html,"html.parser")

In [5]:
assist_Laliga_playerName = Laliga_assists_page_soup.findAll("a",{"class":"wisbb_fullPlayer"})
print(assist_Laliga_playerName[0].span.text)
#a,b = assist_Laliga_playerName[14].span.text.split(',')

Vazquez, Lucas

In [6]:
assist_Laliga_Name = []
for i in range(50):
    get_assist_playerName = assist_Laliga_playerName[i].span.text.split(', ')
    #print(T_get_assist_playerName)
    #a,b = T_get_assist_playerName.split(',')
    #if len(b) == 0
    if len(get_assist_playerName) == 2:
        a = get_assist_playerName[1]
        b = get_assist_playerName[0]
        c = a+' '+b
    else:
        b = get_assist_playerName[0]
        a = ''
        c = b
    assist_Laliga_Name.append(c)
    
print(assist_Laliga_Name)

['Lucas Vazquez', 'Sergio Canales', 'Adnan Januzaj', 'Manu Morlanes', 'Franco Vazquez', 'Angel Correa', 'Thomas', 'Francisco Portillo', 'Enis Bardhi', 'Andrew Hjulsager', 'Oscar Plano', 'Jorge Pulido', 'David Ferreiro', 'Quincy Promes', 'Juan Camilo Hernandez', 'Anaitz Arbilla', 'Ruben Pena', 'Aday', 'Portu', 'Victor Laguardia', 'Hernan Perez', 'Oscar De Marcos', 'Markel Susaeta', 'Philippe Coutinho', 'Gerard Pique', 'Daniel Wass', 'Sergi Darder', 'Didac Vila', 'Gareth Bale', 'Theo Hernandez', 'Marcelo', 'Alvaro Odriozola', 'Luca Sangalli Fuentes', 'Willian Jose', 'Denis Cheryshev', 'Pablo Fornals', 'Mario Gaspar', 'Andres Guardado', 'Ever Banega', 'Roque Mesa', 'Diego Costa', 'Filipe Luis', 'Stefan Savic', 'Joseba Zaldua', 'Vitorino Antunes', 'Mauro Arambarri', 'Damian Suarez', 'Angel Rodriguez', 'Antonio Luna', 'Tono']

In [7]:
Laliga_assistsPlusGoal_made = Laliga_assists_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(Laliga_assistsPlusGoal_made[1].contents[9].text)

1

In [8]:
Laliga_assistsPlusGoal_made_list = []
for i in range(1,51):
    Laliga_assists = Laliga_assistsPlusGoal_made[i].contents[9].text
    Laliga_assistsPlusGoal_made_list.append(Laliga_assists)
    
print(Laliga_assistsPlusGoal_made_list)

['1', '6', '1', '0', '2', '2', '3', '0', '1', '0', '3', '3', '1', '1', '4', '1', '1', '0', '6', '1', '1', '1', '1', '5', '4', '0', '2', '0', '8', '1', '2', '0', '1', '9', '2', '1', '1', '0', '3', '0', '2', '2', '0', '0', '1', '0', '0', '6', '0', '1']

In [9]:
Laliga_assists_made = Laliga_assists_page_soup.findAll('td',{"class":"wisbb_priorityColumn wisbb_selected"})
print(len(Laliga_assists_made))

50

In [10]:
Laliga_assists_made_list = []
for i in range(50):
    Laliga_assists = Laliga_assists_made[i].text
    Laliga_assists_made_list.append(Laliga_assists)
    
print(Laliga_assists_made_list)

['3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2']

In [11]:
Laliga_assist_club = Laliga_assists_page_soup.findAll('span',{"class":"wisbb_tableAbbrevLink"})
print(Laliga_assist_club[8].text)
print(Laliga_assist_club[1].text)
print("asd")

 LEV

 BET

asd

In [12]:
Laliga_assist_club_list =[]
for i in range(50):
    get_club_name = Laliga_assist_club[i].text
    #print( get_club_name)
    get_club_name = get_club_name[1:4]
    Laliga_assist_club_list.append(get_club_name)
    
    #Laliga_assist_club_list.append(get_club_prefix)
    
print(Laliga_assist_club_list)

['RMD', 'BET', 'RSO', 'VIL', 'SEV', 'ATL', 'ATL', 'GET', 'LEV', 'CEL', 'VLD', 'HUE', 'HUE', 'SEV', 'HUE', 'EIB', 'EIB', 'GIR', 'GIR', 'ALA', 'ESP', 'ATH', 'ATH', 'BAR', 'BAR', 'VAL', 'ESP', 'ESP', 'RMD', 'RSO', 'RMD', 'RMD', 'RSO', 'RSO', 'VAL', 'VIL', 'VIL', 'BET', 'SEV', 'SEV', 'ATL', 'ATL', 'ATL', 'RSO', 'GET', 'GET', 'GET', 'GET', 'LEV', 'LEV']

In [13]:
PlayerID_Laliga_assist_list = []
for i in range(50):
    make_id = assist_Laliga_Name[i][0:4] + Laliga_assist_club_list[i]
    PlayerID_Laliga_assist_list.append(make_id)
    
print(PlayerID_Laliga_assist_list)

['LucaRMD', 'SergBET', 'AdnaRSO', 'ManuVIL', 'FranSEV', 'AngeATL', 'ThomATL', 'FranGET', 'EnisLEV', 'AndrCEL', 'OscaVLD', 'JorgHUE', 'DaviHUE', 'QuinSEV', 'JuanHUE', 'AnaiEIB', 'RubeEIB', 'AdayGIR', 'PortGIR', 'VictALA', 'HernESP', 'OscaATH', 'MarkATH', 'PhilBAR', 'GeraBAR', 'DaniVAL', 'SergESP', 'DidaESP', 'GareRMD', 'TheoRSO', 'MarcRMD', 'AlvaRMD', 'LucaRSO', 'WillRSO', 'DeniVAL', 'PablVIL', 'MariVIL', 'AndrBET', 'EverSEV', 'RoquSEV', 'DiegATL', 'FiliATL', 'StefATL', 'JoseRSO', 'VitoGET', 'MaurGET', 'DamiGET', 'AngeGET', 'AntoLEV', 'TonoLEV']

In [14]:
Laliga_assist_data = list(zip(assist_Laliga_Name,Laliga_assist_club_list,Laliga_assists_made_list,PlayerID_Laliga_assist_list))
Laliga_assist_df = pd.DataFrame(data = Laliga_assist_data,columns = ['Player Name','Club','Assists','PlayerID'])
Laliga_assist_df.head()

      Player Name Club Assists PlayerID
0   Lucas Vazquez  RMD       3  LucaRMD
1  Sergio Canales  BET       3  SergBET
2   Adnan Januzaj  RSO       3  AdnaRSO
3   Manu Morlanes  VIL       3  ManuVIL
4  Franco Vazquez  SEV       3  FranSEV

In [15]:
Laliga_assist_df['Goals'] = Laliga_assistsPlusGoal_made_list

In [16]:
Laliga_assist_df

              Player Name Club Assists PlayerID Goals
0           Lucas Vazquez  RMD       3  LucaRMD     1
1          Sergio Canales  BET       3  SergBET     6
2           Adnan Januzaj  RSO       3  AdnaRSO     1
3           Manu Morlanes  VIL       3  ManuVIL     0
4          Franco Vazquez  SEV       3  FranSEV     2
5            Angel Correa  ATL       3  AngeATL     2
6                  Thomas  ATL       3  ThomATL     3
7      Francisco Portillo  GET       3  FranGET     0
8             Enis Bardhi  LEV       3  EnisLEV     1
9        Andrew Hjulsager  CEL       3  AndrCEL     0
10            Oscar Plano  VLD       3  OscaVLD     3
11           Jorge Pulido  HUE       3  JorgHUE     3
12         David Ferreiro  HUE       3  DaviHUE     1
13          Quincy Promes  SEV       3  QuinSEV     1
14  Juan Camilo Hernandez  HUE       3  JuanHUE     4
15         Anaitz Arbilla  EIB       2  AnaiEIB     1
16             Ruben Pena  EIB       2  RubeEIB     1
17                   Aday  GIR       2  AdayGIR     0
18                  Portu  GIR       2  PortGIR     6
19       Victor Laguardia  ALA       2  VictALA     1
20           Hernan Perez  ESP       2  HernESP     1
21        Oscar De Marcos  ATH       2  OscaATH     1
22         Markel Susaeta  ATH       2  MarkATH     1
23      Philippe Coutinho  BAR       2  PhilBAR     5
24           Gerard Pique  BAR       2  GeraBAR     4
25            Daniel Wass  VAL       2  DaniVAL     0
26           Sergi Darder  ESP       2  SergESP     2
27             Didac Vila  ESP       2  DidaESP     0
28            Gareth Bale  RMD       2  GareRMD     8
29         Theo Hernandez  RSO       2  TheoRSO     1
30                Marcelo  RMD       2  MarcRMD     2
31       Alvaro Odriozola  RMD       2  AlvaRMD     0
32  Luca Sangalli Fuentes  RSO       2  LucaRSO     1
33           Willian Jose  RSO       2  WillRSO     9
34        Denis Cheryshev  VAL       2  DeniVAL     2
35          Pablo Fornals  VIL       2  PablVIL     1
36           Mario Gaspar  VIL       2  MariVIL     1
37        Andres Guardado  BET       2  AndrBET     0
38            Ever Banega  SEV       2  EverSEV     3
39             Roque Mesa  SEV       2  RoquSEV     0
40            Diego Costa  ATL       2  DiegATL     2
41            Filipe Luis  ATL       2  FiliATL     2
42           Stefan Savic  ATL       2  StefATL     0
43          Joseba Zaldua  RSO       2  JoseRSO     0
44       Vitorino Antunes  GET       2  VitoGET     1
45        Mauro Arambarri  GET       2  MaurGET     0
46          Damian Suarez  GET       2  DamiGET     0
47        Angel Rodriguez  GET       2  AngeGET     6
48           Antonio Luna  LEV       2  AntoLEV     0
49                   Tono  LEV       2  TonoLEV     1

In [17]:
Fox_goal_URL = 'https://www.foxsports.com/soccer/stats?competition=2&season=20180&category=STANDARD&pos=0&team=0&isOpp=0&sort=3&sortOrder=0&page=2'

In [18]:
uClient = uReq(Fox_goal_URL)
page_html = uClient.read()
uClient.close()

In [19]:
Fox_goal_page_soup = soup(page_html,"html.parser")

In [20]:
Fox_goal_Name_Laliga = Fox_goal_page_soup.findAll('a',{"class":"wisbb_fullPlayer"})
print(len(Fox_goal_Name_Laliga))

50

In [21]:
Fox_goal_name = []
for i in range(50):
    get_Goal_playerName_Fox = Fox_goal_Name_Laliga[i].span.text.split(', ')
    #print(T_get_assist_playerName)
    #a,b = T_get_assist_playerName.split(',')
    #if len(b) == 0
    if len(get_Goal_playerName_Fox) == 2:
        a =get_Goal_playerName_Fox[1]
        b = get_Goal_playerName_Fox[0]
        c = a+' '+b
    else:
        b = get_Goal_playerName_Fox[0]
        a = ''
        c = b
    Fox_goal_name.append(c)

print(Fox_goal_name)

['Borja Baston', 'Juan Camilo Hernandez', 'Samuel Chukwueze', 'Alvaro Morata', 'Kike', 'Joan Jordan', 'Fabian Orellana', 'Alex Gallar', 'Ibai Gomez', 'Alfonso Pedraza', 'Ruben Sobrino', 'Ivan Rakitic', 'Esteban Granero', 'Mario Hermoso', 'Casemiro', 'Dani Ceballos', 'Isco', 'Borja Mayoral', 'Luka Modric', 'Oscar', 'Enes Unal', 'Junior Firpo', 'Cristian Tello', 'Ever Banega', 'Diego Godin', 'Thomas', 'Nabil El Zhar', 'Ruben Rochina', 'Coke', 'Ruben Alcaraz', 'Nestor Araujo', 'Oscar Plano', 'Adri Embarba', 'Jorge Pulido', 'Alvaro Garcia', 'Jose Pozo', 'Dimitri Foulquier', 'Martin Braithwaite', 'Enric Gallego', 'Ruben Sobrino', 'Takashi Inui', 'Aleix Garcia', 'Guillermo Maripan', 'Tomas Pina', 'Aritz Aduriz', 'Peru Nolaskoain', 'Pione Sisto', 'Leo Baptistao', 'Sergi Darder', 'Sergio Garcia']

In [22]:
Fox_club_name = Fox_goal_page_soup.findAll('td',{"class":"wisbb_priorityColumn wisbb_selected"})
Fox_club_name[0].text

'4'

In [23]:
Fox_GoalScored_Laliga =[]
for i in range(50):
    get_goals = Fox_club_name[i].text
    Fox_GoalScored_Laliga.append(get_goals)
    

print(Fox_GoalScored_Laliga)

['4', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2']

In [24]:
Fox_GoalScoredPlusAssist_Laliga = Fox_goal_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(Fox_GoalScoredPlusAssist_Laliga[0].contents[11].text)

A

In [25]:
Fox_GoalScoredPlusAssist_Laliga_List = []
for i in range(1,51):
    Laliga_assists = Fox_GoalScoredPlusAssist_Laliga[i].contents[11].text
    Fox_GoalScoredPlusAssist_Laliga_List.append(Laliga_assists)
    
print(Fox_GoalScoredPlusAssist_Laliga_List)

['1', '3', '2', '1', '0', '4', '4', '1', '4', '3', '1', '4', '1', '0', '0', '0', '1', '1', '5', '3', '1', '1', '5', '2', '1', '3', '0', '5', '1', '1', '0', '3', '2', '3', '1', '0', '1', '2', '1', '1', '0', '1', '1', '0', '0', '0', '1', '1', '2', '1']

In [26]:
Fox_Club_goal_name = Fox_goal_page_soup.findAll('span',{"class":"wisbb_tableAbbrevLink"})
Fox_Club_goal_name[0].text[1:4]

'ALA'

In [27]:
Fox_Club_goal_name_list = []
for i in range(50):
    get_name = Fox_Club_goal_name[i].text[1:4]
    Fox_Club_goal_name_list.append(get_name)


print(Fox_Club_goal_name_list)

['ALA', 'HUE', 'VIL', 'ATL', 'EIB', 'EIB', 'EIB', 'HUE', 'ALA', 'VIL', '', 'BAR', 'ESP', 'ESP', 'RMD', 'RMD', 'RMD', 'LEV', 'RMD', 'LGN', 'VLD', 'BET', 'BET', 'SEV', 'ATL', 'ATL', 'LGN', 'LEV', 'LEV', 'VLD', 'CEL', 'VLD', 'RV\n', 'HUE', 'RV\n', 'RV\n', 'GET', 'LGN', 'HUE', 'ALA', 'ALA', 'GIR', 'ALA', 'ALA', 'ATH', 'ATH', 'CEL', 'ESP', 'ESP', 'ESP']

In [28]:
Fox_goal_PID = []
for i in range(50):
    c = Fox_goal_name[i][0:4]+Fox_Club_goal_name_list[i]
    Fox_goal_PID.append(c)


    
print(Fox_goal_PID)

['BorjALA', 'JuanHUE', 'SamuVIL', 'AlvaATL', 'KikeEIB', 'JoanEIB', 'FabiEIB', 'AlexHUE', 'IbaiALA', 'AlfoVIL', 'Rube', 'IvanBAR', 'EsteESP', 'MariESP', 'CaseRMD', 'DaniRMD', 'IscoRMD', 'BorjLEV', 'LukaRMD', 'OscaLGN', 'EnesVLD', 'JuniBET', 'CrisBET', 'EverSEV', 'DiegATL', 'ThomATL', 'NabiLGN', 'RubeLEV', 'CokeLEV', 'RubeVLD', 'NestCEL', 'OscaVLD', 'AdriRV\n', 'JorgHUE', 'AlvaRV\n', 'JoseRV\n', 'DimiGET', 'MartLGN', 'EnriHUE', 'RubeALA', 'TakaALA', 'AleiGIR', 'GuilALA', 'TomaALA', 'AritATH', 'PeruATH', 'PionCEL', 'Leo ESP', 'SergESP', 'SergESP']

In [29]:
Fox_Goal_data = list(zip(Fox_goal_name,Fox_Club_goal_name_list,Fox_GoalScored_Laliga,Fox_goal_PID))
Fox_Goal_data_df = pd.DataFrame(data = Fox_Goal_data,columns = ['Player Name','Club','Goals','PlayerID'])
Fox_Goal_data_df.head(10)
Fox_Goal_data_df_copy = Fox_Goal_data_df
Fox_Goal_data_df_copy.head()

             Player Name Club Goals PlayerID
0           Borja Baston  ALA     4  BorjALA
1  Juan Camilo Hernandez  HUE     4  JuanHUE
2       Samuel Chukwueze  VIL     4  SamuVIL
3          Alvaro Morata  ATL     4  AlvaATL
4                   Kike  EIB     3  KikeEIB

In [30]:
Laliga_assist_df.head(10)
Laliga_assist_df_copy = Laliga_assist_df
Laliga_assist_df_copy.head()

      Player Name Club Assists PlayerID Goals
0   Lucas Vazquez  RMD       3  LucaRMD     1
1  Sergio Canales  BET       3  SergBET     6
2   Adnan Januzaj  RSO       3  AdnaRSO     1
3   Manu Morlanes  VIL       3  ManuVIL     0
4  Franco Vazquez  SEV       3  FranSEV     2

In [31]:
minutes_played_goal_fox_Laliga = Fox_goal_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(minutes_played_goal_fox_Laliga[1].contents[7].text)

809

In [32]:
minutes_played_goal_fox_Laliga_list = []
for i in range(1,51):
    get_min_played = minutes_played_goal_fox_Laliga[i].contents[7].text
    minutes_played_goal_fox_Laliga_list.append(get_min_played)
    
print(minutes_played_goal_fox_Laliga_list)

['809', '1345', '718', '617', '882', '1630', '1669', '369', '797', '1405', '-', '1488', '1198', '1287', '1189', '809', '456', '974', '1587', '1675', '1120', '598', '780', '1554', '1215', '1309', '249', '1176', '996', '1561', '1440', '1569', '1339', '1710', '1093', '770', '1412', '792', '863', '58', '3', '1214', '1380', '1383', '587', '214', '374', '704', '1462', '828']

In [33]:
Fox_Goal_data_df['Minutes Played'] = minutes_played_goal_fox_Laliga_list
Fox_Goal_data_df.head()

             Player Name Club Goals PlayerID Minutes Played
0           Borja Baston  ALA     4  BorjALA            809
1  Juan Camilo Hernandez  HUE     4  JuanHUE           1345
2       Samuel Chukwueze  VIL     4  SamuVIL            718
3          Alvaro Morata  ATL     4  AlvaATL            617
4                   Kike  EIB     3  KikeEIB            882

In [34]:
print(minutes_played_goal_fox_Laliga[1].contents[15].text)

27

In [35]:
total_shots_fox_Laliga_list = []
for i in range(1,51):
    get_shots = minutes_played_goal_fox_Laliga[i].contents[15].text
    total_shots_fox_Laliga_list.append(get_shots)
    
print(total_shots_fox_Laliga_list)

['27', '70', '37', '16', '39', '48', '62', '24', '50', '26', '13', '29', '27', '21', '33', '22', '18', '17', '35', '51', '36', '16', '21', '26', '12', '32', '20', '37', '6', '45', '8', '36', '40', '18', '19', '12', '15', '19', '15', '20', '24', '18', '13', '9', '16', '4', '14', '42', '48', '34']

In [36]:
total_shots_target_fox_Laliga_list = []
for i in range(1,51):
    get_shots_target = minutes_played_goal_fox_Laliga[i].contents[13].text
    total_shots_target_fox_Laliga_list.append(get_shots_target)

    
print(total_shots_target_fox_Laliga_list)

['9', '23', '16', '8', '16', '16', '22', '9', '13', '11', '5', '10', '6', '9', '8', '6', '6', '10', '12', '19', '12', '7', '8', '8', '6', '7', '8', '9', '3', '9', '5', '10', '14', '8', '8', '5', '5', '5', '9', '6', '8', '5', '5', '3', '10', '3', '9', '18', '12', '13']

In [37]:
Fox_Goal_data_df['SOG'] = total_shots_target_fox_Laliga_list

In [38]:
Fox_Goal_data_df['Shots'] = total_shots_fox_Laliga_list

In [39]:
Fox_Goal_data_df['Assists'] = Fox_GoalScoredPlusAssist_Laliga_List

In [40]:
Fox_Goal_data_df.head()

             Player Name Club Goals PlayerID Minutes Played SOG Shots Assists
0           Borja Baston  ALA     4  BorjALA            809   9    27       1
1  Juan Camilo Hernandez  HUE     4  JuanHUE           1345  23    70       3
2       Samuel Chukwueze  VIL     4  SamuVIL            718  16    37       2
3          Alvaro Morata  ATL     4  AlvaATL            617   8    16       1
4                   Kike  EIB     3  KikeEIB            882  16    39       0

In [41]:
Minutes_played_SOG_S_Fox = Laliga_assists_page_soup.findAll('tr',{"class":"wisbb_fvStand"})
print(Minutes_played_SOG_S_Fox[1].contents[7].text)

1084

In [42]:
MP_Fox_Laliga_assists_list = []
for i in range(1,51):
    get_MP = Minutes_played_SOG_S_Fox[i].contents[7].text
    MP_Fox_Laliga_assists_list.append(get_MP)

print(MP_Fox_Laliga_assists_list)

['1084', '1497', '1207', '379', '964', '1089', '1309', '985', '1608', '239', '1569', '1710', '1386', '1150', '1345', '1323', '1890', '9', '1443', '1710', '484', '1408', '739', '1046', '1800', '1225', '1462', '1458', '941', '1415', '804', '864', '333', '1358', '1064', '1260', '1304', '985', '1554', '916', '502', '800', '924', '858', '1432', '1411', '1800', '905', '651', '982']

In [43]:
SOG_Fox_Laliga_assists_list = []
for i in range(1,51):
    get_SOG = Minutes_played_SOG_S_Fox[i].contents[13].text
    SOG_Fox_Laliga_assists_list.append(get_SOG)
    
print(SOG_Fox_Laliga_assists_list)

['9', '22', '7', '1', '6', '8', '7', '4', '15', '0', '10', '8', '12', '3', '23', '3', '5', '2', '12', '3', '6', '2', '6', '25', '7', '2', '12', '9', '33', '6', '8', '1', '3', '15', '7', '12', '4', '1', '8', '3', '10', '3', '1', '1', '6', '4', '0', '17', '1', '4']

In [44]:
S_Fox_Laliga_assists_list = []
for i in range(1,51):
    get_S = Minutes_played_SOG_S_Fox[i].contents[15].text
    S_Fox_Laliga_assists_list.append(get_S)
    
print(S_Fox_Laliga_assists_list)

['20', '58', '33', '2', '33', '24', '32', '6', '49', '1', '36', '18', '31', '22', '70', '15', '20', '7', '27', '11', '13', '8', '14', '54', '17', '26', '48', '23', '70', '23', '24', '1', '5', '28', '27', '43', '18', '17', '26', '20', '16', '7', '4', '5', '28', '17', '13', '49', '3', '10']

In [45]:
Laliga_assist_df['Minutes Played'] = MP_Fox_Laliga_assists_list

In [46]:
Laliga_assist_df['SOG'] = SOG_Fox_Laliga_assists_list

In [47]:
Laliga_assist_df['Shots'] = S_Fox_Laliga_assists_list

In [48]:
Laliga_assist_df.head()

      Player Name Club Assists PlayerID Goals Minutes Played SOG Shots
0   Lucas Vazquez  RMD       3  LucaRMD     1           1084   9    20
1  Sergio Canales  BET       3  SergBET     6           1497  22    58
2   Adnan Januzaj  RSO       3  AdnaRSO     1           1207   7    33
3   Manu Morlanes  VIL       3  ManuVIL     0            379   1     2
4  Franco Vazquez  SEV       3  FranSEV     2            964   6    33

In [49]:
Fox_Goal_data_df_copy = Fox_Goal_data_df
Fox_Goal_data_df_copy.head(10)

             Player Name Club Goals PlayerID Minutes Played SOG Shots Assists
0           Borja Baston  ALA     4  BorjALA            809   9    27       1
1  Juan Camilo Hernandez  HUE     4  JuanHUE           1345  23    70       3
2       Samuel Chukwueze  VIL     4  SamuVIL            718  16    37       2
3          Alvaro Morata  ATL     4  AlvaATL            617   8    16       1
4                   Kike  EIB     3  KikeEIB            882  16    39       0
5            Joan Jordan  EIB     3  JoanEIB           1630  16    48       4
6        Fabian Orellana  EIB     3  FabiEIB           1669  22    62       4
7            Alex Gallar  HUE     3  AlexHUE            369   9    24       1
8             Ibai Gomez  ALA     3  IbaiALA            797  13    50       4
9        Alfonso Pedraza  VIL     3  AlfoVIL           1405  11    26       3

In [50]:
Laliga_assist_df_copy = Laliga_assist_df
Laliga_assist_df_copy.head(10)

          Player Name Club Assists PlayerID Goals Minutes Played SOG Shots
0       Lucas Vazquez  RMD       3  LucaRMD     1           1084   9    20
1      Sergio Canales  BET       3  SergBET     6           1497  22    58
2       Adnan Januzaj  RSO       3  AdnaRSO     1           1207   7    33
3       Manu Morlanes  VIL       3  ManuVIL     0            379   1     2
4      Franco Vazquez  SEV       3  FranSEV     2            964   6    33
5        Angel Correa  ATL       3  AngeATL     2           1089   8    24
6              Thomas  ATL       3  ThomATL     3           1309   7    32
7  Francisco Portillo  GET       3  FranGET     0            985   4     6
8         Enis Bardhi  LEV       3  EnisLEV     1           1608  15    49
9    Andrew Hjulsager  CEL       3  AndrCEL     0            239   0     1

In [51]:
appendStuff = Laliga_assist_df_copy.append(Fox_Goal_data_df_copy,ignore_index = True)

C:\Users\91997\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [52]:
appendStuff

,Assists,Club,Goals,Minutes Played,Player Name,PlayerID,SOG,Shots
0,3,RMD,1,1084,Lucas Vazquez,LucaRMD,9,20
1,3,BET,6,1497,Sergio Canales,SergBET,22,58
2,3,RSO,1,1207,Adnan Januzaj,AdnaRSO,7,33
3,3,VIL,0,379,Manu Morlanes,ManuVIL,1,2
4,3,SEV,2,964,Franco Vazquez,FranSEV,6,33
5,3,ATL,2,1089,Angel Correa,AngeATL,8,24
6,3,ATL,3,1309,Thomas,ThomATL,7,32
7,3,GET,0,985,Francisco Portillo,FranGET,4,6
8,3,LEV,1,1608,Enis Bardhi,EnisLEV,15,49
9,3,CEL,0,239,Andrew Hjulsager,AndrCEL,0,1
10,3,VLD,3,1569,Oscar Plano,OscaVLD,10,36
11,3,HUE,3,1710,Jorge Pulido,JorgHUE,8,18
12,3,HUE,1,1386,David Ferreiro,DaviHUE,12,31
13,3,SEV,1,1150,Quincy Promes,QuinSEV,3,22
14,3,HUE,4,1345,Juan Camilo Hernandez,JuanHUE,23,70
15,2,EIB,1,1323,Anaitz Arbilla,AnaiEIB,3,15
16,2,EIB,1,1890,Ruben Pena,RubeEIB,5,20
17,2,GIR,0,9,Aday,AdayGIR,2,7
18,2,GIR,6,1443,Portu,PortGIR,12,27
19,2,ALA,1,1710,Victor Laguardia,VictALA,3,11
20,2,ESP,1,484,Hernan Perez,HernESP,6,13
21,2,ATH,1,1408,Oscar De Marcos,OscaATH,2,8
22,2,ATH,1,739,Markel Susaeta,MarkATH,6,14
23,2,BAR,5,1046,Philippe Coutinho,PhilBAR,25,54
24,2,BAR,4,1800,Gerard Pique,GeraBAR,7,17
25,2,VAL,0,1225,Daniel Wass,DaniVAL,2,26
26,2,ESP,2,1462,Sergi Darder,SergESP,12,48
27,2,ESP,0,1458,Didac Vila,DidaESP,9,23
28,2,RMD,8,941,Gareth Bale,GareRMD,33,70
29,2,RSO,1,1415,Theo Hernandez,TheoRSO,6,23
...,...,...,...,...,...,...,...,...
70,1,VLD,3,1120,Enes Unal,EnesVLD,12,36
71,1,BET,3,598,Junior Firpo,JuniBET,7,16
72,5,BET,3,780,Cristian Tello,CrisBET,8,21
73,2,SEV,3,1554,Ever Banega,EverSEV,8,26
74,1,ATL,3,1215,Diego Godin,DiegATL,6,12
75,3,ATL,3,1309,Thomas,ThomATL,7,32
76,0,LGN,3,249,Nabil El Zhar,NabiLGN,8,20
77,5,LEV,3,1176,Ruben Rochina,RubeLEV,9,37
78,1,LEV,3,996,Coke,CokeLEV,3,6
79,1,VLD,3,1561,Ruben Alcaraz,RubeVLD,9,45
80,0,CEL,3,1440,Nestor Araujo,NestCEL,5,8
81,3,VLD,3,1569,Oscar Plano,OscaVLD,10,36
82,2,RV\n,3,1339,Adri Embarba,AdriRV\n,14,40
83,3,HUE,3,1710,Jorge Pulido,JorgHUE,8,18
84,1,RV\n,3,1093,Alvaro Garcia,AlvaRV\n,8,19
85,0,RV\n,3,770,Jose Pozo,JoseRV\n,5,12
86,1,GET,3,1412,Dimitri Foulquier,DimiGET,5,15
87,2,LGN,3,792,Martin Braithwaite,MartLGN,5,19
88,1,HUE,3,863,Enric Gallego,EnriHUE,9,15
89,1,ALA,3,58,Ruben Sobrino,RubeALA,6,20
90,0,ALA,2,3,Takashi Inui,TakaALA,8,24
91,1,GIR,2,1214,Aleix Garcia,AleiGIR,5,18
92,1,ALA,2,1380,Guillermo Maripan,GuilALA,5,13
93,0,ALA,2,1383,Tomas Pina,TomaALA,3,9
94,0,ATH,2,587,Aritz Aduriz,AritATH,10,16
95,0,ATH,2,214,Peru Nolaskoain,PeruATH,3,4
96,1,CEL,2,374,Pione Sisto,PionCEL,9,14
97,1,ESP,2,704,Leo Baptistao,Leo ESP,18,42
98,2,ESP,2,1462,Sergi Darder,SergESP,12,48
99,1,ESP,2,828,Sergio Garcia,SergESP,13,34

In [53]:
appendStuff = appendStuff[['Player Name','PlayerID','Club','Goals','Assists','Minutes Played','SOG','Shots']]
appendStuff.shape

(100, 8)

In [54]:
appendStuff.to_csv('Laliga_data_new2.csv')